version: '3.8'

services:
  php:
    build:
      context: .
      dockerfile: dockerfiles/php.Dockerfile
    container_name: app_php
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www